/* FONT IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

/* VARIABLES */

:root {
  --clr-LMInp: hsl(0, 0%, 52%);
  --ff-primary: "Nunito Sans";
}

/* GLOBAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-primary);
}

.light-mode {
  --clr-Bg: hsl(0, 0%, 98%);
  --clr-Txt: hsl(200, 15%, 8%);
  --clr-Elems: hsl(0, 0%, 100%);
}

.dark-mode {
  --clr-Bg: hsl(207, 26%, 17%);
  --clr-Txt: hsl(0, 0%, 100%);
  --clr-Elems: hsl(209, 23%, 22%);
}

.all-error {
  color: red;
  font-size: 15px;
}
