/* FONT IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

/* VARIABLES */

:root {
  --clr-LMInp: hsl(0, 0%, 52%);
  --ff-primary: "Nunito Sans";
}

/* GLOBAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-primary);
}

.light-mode {
  --clr-Bg: hsl(0, 0%, 98%);
  --clr-Txt: hsl(200, 15%, 8%);
  --clr-Elems: hsl(0, 0%, 100%);
  --clr-LMInp: hsl(0, 0%, 52%);
  --clr-LoaderBg: hsl(0, 0%, 92%);
  --clr-LoaderHL: hsl(0, 0%, 96%);
}

.dark-mode {
  --clr-Bg: hsl(207, 26%, 17%);
  --clr-Txt: hsl(0, 0%, 100%);
  --clr-Elems: hsl(209, 23%, 22%);
  --clr-LMInp: hsl(0, 0%, 98%);
  --clr-LoaderBg: hsl(210, 24%, 26%);
  --clr-LoaderHL: hsl(208, 27%, 38%);
}
.loader {
  background-color: var(--clr-LoaderBg);
}
.loader::after {
  background-image: linear-gradient(
    90deg,
    var(--clr-LoaderBg),
    var(--clr-LoaderHL),
    var(--clr-LoaderBg)
  );
}

.all-error {
  color: red;
  font-size: 15px;
}
